:root{
    --primary-key:  #0044ff;
    --secondary-key: #111111;
    --terciary-color: #fafafa;
}

.appAbout{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    text-align: center;
}

#about{
    width: 100%;
    max-width: 450px;
    margin: auto;
    /* border:  0.5px var(--secondary-key) solid; */
    border-radius: 8px;
    padding: 30px;
    text-shadow: 5px 5px 5px rbga(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

#about h6{
    color: var(--primary-key);
}

@media screen and (max-width: 800px){
    #about{
        width: 80% !important;
        max-width: 240px;
        font-size: 0.9em;
        padding: 15px;
    }
}