:root{
    --primary-key:  #0044ff;
    --secondary-key: #111111;
    --terciary-color: #fafafa;
}


.appHeader{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    
}

.appHeader img{
    width: 50px;
    margin-right: 1em;
    margin-left: 1em;
}

.textHeader{
    
}

.appHeader a{
    margin-right: 2em;
    text-decoration: inherit !important;
}

.menuHeader{
    /* margin-left: 48em; */
}


.linkHeader{
    color: var(--secondary-key);
}


.linkHeader:hover{
    color: var(--primary-key) !important; 
    border-bottom: var(--primary-key) 2px solid;
}

.blueColor{
    color: var(--primary-key) !important;
    font-weight: bold;
}

.loginBtn{
    padding: 0.5em;
    border: 1px solid var(--primary-key);
    color: white !important;
    background-color: var(--primary-key);
    border-radius: 6px ;
    text-align: center;
    transition-duration: 0.2s;
}

.loginBtn:hover{
    background-color: var(--terciary-color);
    border: 1px solid var(--primary-key);
    color: var(--primary-key) !important;
}

@media screen and (max-width: 800px){
    .appHeader{
        font-size: 0.9em;
    }

    .appHeader h3{
        font-size: 1.1em;
        transform: translateY(20%);
    }


}