:root{
    --primary-key:  #0044ff;
    --secondary-key: #111111;
    --terciary-color: #fafafa;
}



#new-posts{
    width: 100%;
    max-width: 750px;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

form#public h2{
    margin-bottom: 2em;
}


form#public{    
    width: 100%;
    max-width: 750px;
    margin-top: 1em;
    padding: 30px;
    border-radius: 8px;
    text-shadow: 5px 5px 5px rbga(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

form#public textarea{
    height: 8em;
}

form#public button{
    margin: auto;
    margin-top: 20px;
    width: 40%;
    padding: 0.3em;
    font-size: 1.2em;
    background-color: var(--primary-key);
    color: var(--terciary-color);
    border: 1px var(--primary-key) solid !important;
    border-radius: 6px;
    transition-duration: 0.2s;
}

form#public button:hover{
    background-color: var(--terciary-color);
    border: 1px solid var(--primary-key);
    color: var(--primary-key) !important;
}

#new{
    width: 10%;
    padding: 0.3em;
    font-size: 1.2em;
    border: 2px var(--primary-key) solid !important;
    border-radius: 6px;
    transition-duration: 0.2s;
}

form#public span{
    margin-top: 1em;
    margin-bottom: 1em;
}

form#public label{
    margin-top: 1em;
    font-size: 1.2em;
}

form#public img{
    width: 200px;
    margin: 1em;
}

form#public progress{
    margin-top: 1em;
}
